.vscode/
.github/
.DS_Store
.eslintrc.js
.projections.json
.gitignore
.gitmodules
src/
scripts/
images/*.gif

CONTRIBUTING.md
CODE_OF_CONDUCT.md
RELEASING.md
webpack.config.js
theme-check-vscode*.vsix
yarn.lock

syntaxes/
!syntaxes/grammars

node_modules/
!node_modules/prettier
